<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h2>Thank you for your order!</h2>
  </div>

  <div class="order-details">
    <div class="row">
      <div class="col-md-8">
        <% @order.line_items.each do |line_item| %>
          <%= render partial: 'line_item', locals: { line_item: line_item } %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h4>Order Summary</h4>
        <p><strong>Order Total:</strong> <%= humanized_money_with_symbol @order.total %></p>
        <p><strong>Email Used:</strong> <%= @order.email %></p>
      </div>
    </div>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
